@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Niramit');


/*-------------------------------Styling for multiple pages eg fonts----------------------------------*/

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

h1,h2 {
    margin-top: 0px;
    margin-left:10px;
    font-family:"abril fatface", cursive;
}

h2{
    margin-left:40px;
}

.gallery, .homepage, .music, .events {
    padding-bottom: 0px;
    margin-bottom:0px;
}


/* nav styling */

nav ul{
    list-style-type:none;
    margin-left:20px;
    margin-right:20px;
}

nav ul li{
    margin-left:10px;
    margin-right:10px; 
}

.navbar {
    width:100%;
    background-color:#63FCC5; 
    margin:0px;
    height:45px;
    font-family: "PT Sans", sans-serif;
    position: fixed;
    z-index: 2;
}

.navbar li a {
    color:#000000;
}

/*heading styling*/

.heading {
    padding-top:20px;
    text-align:center;
    font-size:90px;
}

.subheading {
    padding-top:10px;
    text-align:left;
    font-size:45px;
    padding-bottom:10px;
}



/*----------------------Background Colors-------------------------------*/
.homepage {
  background-image: url(../../assets/multimedia/images/monkees.jpg);
  background-repeat: none;
  background-size: cover;
}


.music {
    background-color:#002246;
}


.gallery {
    background-color:#210315;
}

.events {
    background-color:#120221;
}


/*--------------------------------Homepage Styling-------------------------------------------------*/

.homepage-heading {
    font-size:100px;
    color:#63FCC5;
    margin-top: 230px;
    border:#63FCC5 solid 3px;
    background-color:#010D31;
    padding:0px;
    margin-left: 0px;
    margin-right:0px;
}

.homepage-navigation a {
    font-size:40px;
    border:#63FCC5 solid 3px;
    color:#63FCC5;
    font-family:"abril fatface", cursive;
    margin-left:20px;
    margin-right: 20px;
    background-color:#010D31;
}

.home-link{
    margin-top:10px;
    margin-bottom:10px;
}

.homepage-links{
    text-align: center;
}

.homepage {
    height:130vh;
}


/*--------------------------------Music Page Styling-------------------------------------------------*/

.music img {
    width: 240px;
    padding: 10px;
}

.music .heading, .music .subheading {
    color:#FF989F; 
}

.song {
    margin-left: 50px;
    margin-right: 50px;
}

.music p {
    color:#FF989F;
    font-family:"PT Sans", sans-serif;
}



/*--------------------------------Gallery Page Styling-------------------------------------------------*/

.images img {
    height: 200px;
    margin:20px;
    
}
.gallery .heading {
    color:#7AE0FE;
}

.gallery .row {
    margin:15px;
}

.band-member{
    max-width: 150px;
}

/*-----------------------Events Page Form Styling----------------------------------------------*/

.events .heading, .events .subheading {
    color:#FFF397;
}

.events p {
    color:#FFF397;
    font-family:"PT Sans", sans-serif;
    
}

.form-row {
    padding-bottom:20px;
}

input {
    /*margin-bottom:10px;*/
    margin-top:10px;
}

.formitem {
    margin-left:25px;
    display: block;
}

.text-enter {
    width:100px;
}

textarea {
    resize:none;
}

/*--------------------------Footer---------------------*/

footer {
    background-color:#A3FFD2;
}

i {
    margin:10px;
   font-size:35px;
    color: #000000;

}

.footer-heading {
    margin-left: 30px;
    margin-top:10px;
    color:#000000;
    }
    
/*--------------------------link transition effects---------------------*/

.navbar li a {
    transition-property: color,font-weight;
}

.navbar li a:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    color:#8F8F8F;
    text-decoration: none;
}

.homepage a {
    transition-property: color, border;
}

.homepage-navigation a:hover{
    text-decoration: none;
    color:#77EAAA;
    border:#77EAAA solid 3px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

footer social links
.sociallink i{
    transition-property: color;
}

.sociallink i:hover{
    color:#8F8F8F;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

/*----------------------Media Queries-------------*/

@media (min-width:768px) {
    .homepage {
        height:100vh;
    }
}

