@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Niramit');


/*-------------------------------Styling for multiple pages eg fonts----------------------------------*/

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

h1,h2 {
    margin-top: 0px;
    margin-left:10px;
    font-family:"abril fatface", cursive;
}

h2{
    margin-left:40px;
}

.gallery, .homepage, .music, .events {
    padding-bottom: 50px;
    margin-bottom:-15px;
}


/* nav styling */

nav ul{
    list-style-type:none;
    margin-left:20px;
    margin-right:20px;
}

nav ul li{
    margin-left:10px;
    margin-right:10px; 
}

.navbar {
    width:100%;
    background-color:#ecdcdc; 
    margin:0px;
    height:45px;
    font-family: "PT Sans", sans-serif;
    position: fixed;
    z-index: 2;
}

.navbar li a {
    color:#000000;
    font-size:15px;
    margin:0px -5px;
}

/*heading styling*/

.heading {
    padding-top:40px;
    text-align:center;
    font-size:90px;
}

.subheading {
    padding-top:10px;
    text-align:left;
    font-size:45px;
    padding-bottom:10px;
}



/*----------------------Background Colors-------------------------------*/
.homepage {
  background-image: url(../../assets/multimedia/images/monkees.jpg);
  background-repeat: none;
  background-size: cover;
}


.music {
    background-color:#002246;
}


.gallery {
    background-color:#250831;
}

.events {
    background-color:#003F0A;
}


/*--------------------------------Homepage Styling-------------------------------------------------*/

.homepage-heading {
    font-size:100px;
    color:#242424;
    margin-top: 230px;
    background-color: rgb(230,223,0,0.6);
    padding:0px;
    margin-bottom:20px;
    width:650px;
}

.homepage-navigation a {
    font-size:40px;
    color:#242424;
    font-family:"abril fatface", cursive;
    padding:5px;
    background-color: rgb(230,223,0,0.6);
}

.home-link{
    margin-top:10px;
    margin-bottom:10px;
}

.homepage-links{
    text-align: center;
}

.homepage {
    height:130vh;
}


/*--------------------------------Music Page Styling-------------------------------------------------*/

.music img {
    width: 240px;
}

.music .heading, .music .subheading {
    color:#FF989F; 
}

.song {
    margin-left: 50px;
    margin-right: 50px;
}

.music p {
    color:#FF989F;
    font-family:"PT Sans", sans-serif;
}

.music .subheading{
    margin-top:45px;
}


/*--------------------------------Gallery Page Styling-------------------------------------------------*/

.images img {
    height: 200px;
    margin:10px;
    display:block;
    justify-content:center;
    
}
.gallery .heading {
    color:#FFD157;
}

.gallery .row {
    margin:15px;
}


/*-----------------------Events Page Form Styling----------------------------------------------*/

.events .heading, .events .subheading {
    color:#FDABCB;
}

.events p {
    color:#FDABCB;
    font-family:"PT Sans", sans-serif;
    
}

.form-row {
    padding-bottom:20px;
}

input {
    /*margin-bottom:10px;*/
    margin-top:10px;
}

.formitem {
    
    margin-left:25px;
    display: block;
}

.text-enter {
    width:100px;
}

textarea {
    resize:none;
    margin:5px;
}

/*--------------------------Footer---------------------*/

footer {
    background-color:#ecdcdc;
}

i {
    margin:10px;
   font-size:35px;
    color: #000000;

}

.footer-heading {
    margin-left: 30px;
    margin-top:10px;
    color:#000000;
    width:170px;
    }
    
/*--------------------------link transition effects---------------------*/

.navbar li a {
    transition-property: font-weight;
    transition-duration:0.2s;
    transition-timing-function: linear;
}

.navbar li a:hover {
    font-weight:700;
    text-decoration:none;
}

.homepage a {
    transition-property: color, background-color;
}

.homepage-navigation a:hover{
    text-decoration: none;
    background-color:rgb(230,223,0,1);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

footer social links
.sociallink i{
    transition-property: color;
}

.sociallink i:hover{
    color:#8F8F8F;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

/*----------------------Media Queries-------------*/

@media (min-width:768px) {
    .homepage {
        height:100vh;
    }
}

